<div class="container">
  <div class="row">
      <ng-container>
          <div class="card col-md-3">
              <div class="card-header" style="font-weight: bold">Car Number: {{form.id}}</div>
              <img class="card-img-top" [src]="form.image" data-toggle="tooltip" data-placement="top" title={{form.marque}} />
              <div class="card-body">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{form.marque}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{form.annee}}</p>
                <p><strong>Price:</strong> {{form.prix}}</p>
                <p><strong>Max speed:</strong> {{form.vitesse}}</p>
                <p><strong>Power:</strong> {{form.puissance}}</p>
                <p><strong>Color:</strong> {{form.couleur}}</p>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-danger" style="margin-right: 5px;" (click)="closeDialog()">Retourner</button>
                  <button class="btn btn-warning" (click)="openModifyDialog()">Modifier</button>
                </div>
            </div>
          </div>
      </ng-container>
  </div>
</div>
