<div class="container">
  <div class="row">
      <ng-container *ngFor="let form of forms">
          <div class="card col-md-3">
              <img [src]="form.image" data-toggle="tooltip" data-placement="top" title={{form.marque}} />
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{form.marque}}</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{form.annee}}</p>
              <p><strong>Price:</strong> {{form.prix}}</p>
              <p><strong> Max speed:</strong> {{form.vitesse}}</p>
              <p><strong>Power:</strong> {{form.puissance}}</p>
              <p><strong>Color:</strong> {{form.couleur}}</p>
              <button class="btn btn-primary" (click)="openDialog(form)">Modify the car</button>
          </div>
      </ng-container>
      <ng-container>
        <div class="card bg-dark col-md-3">
            <h5 class="card-header beta" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch; color: white; margin-bottom: 50px;">References of brands:</h5>
            <div class="d-flex justify-content-center mb-3">
                <div class="container" style="margin-right: 10px;">
                    <p class="beta" style="margin-bottom: 5px; color: rgb(255, 255, 255);"><strong>Brand</strong></p>
                </div>
                <div class="container">
                    <p class="beta" style="margin-bottom: 5px; color: rgb(255, 255, 255);"><strong>Reference</strong></p>
                </div>
            </div>
            <div style="max-height: 320px; overflow-y:scroll;">
            <div *ngFor="let ref of references" style="align-content: center; display: flex; justify-content: center;">
                <div class="container" style="margin-right: 10px;">
                    <p class="alpha" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch; color: rgb(255, 255, 255);">{{ref.marque}}</p>
                </div>
                <div class="container">
                    <p class="alpha" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch; color: rgb(255, 255, 255);">{{ref.reference}}</p>
                </div>
            </div>
            </div>
        </div>
    </ng-container>
  </div>
</div>

