<div class="container">
  <div class="row">
      <ng-container>
        <form  [formGroup]="voitureForm" >
          <div class="card col-md-8">
              <div class="card-header" style="font-weight: bold">Car Number: {{form.id}}</div>
                <img class="card-img-top" [src]="form.image" data-toggle="tooltip" data-placement="top" title={{form.marque}} />
                <div class="card-body">
                  <h5 >{{form.marque}}</h5>
                  <mat-dialog-content class="mat-typography">
                    <div><Strong>Year of creation:</Strong><input type="text" class="form-control"  formControlName="annee"   style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"></div>
                    <strong>Price:</strong><input type="text" class="form-control"  formControlName="prix"  name ="prix" />
                    <strong>Max speed:</strong><input type="text" class="form-control"  formControlName="vitesse"  name ="vitesse" />
                    <strong>Power:</strong><input type="text" class="form-control"  formControlName="puissance"  name ="puissance"/>
                    <strong>Color:</strong><input type="text" class="form-control"  formControlName="couleur"  name ="couleur" />
                  <form [formGroup]="modelReference" >
                    <strong  >Reference</strong>
                    <div class="form-group row mb-2" *ngFor="let tag of referenceFieldAsFormArray.controls ;let i=index " formArrayName='references'>
                    <!-- <label [attr.for]="i" class="col-md-2 col-form-labeel">   {{'Etiquette' + i}}  </label>-->
                      <div>
                              <div class="input-group mb-3"  [formGroupName]="i">
                                <input type="text" class="form-control"  placeholder="{{'Reference ' + i }}" [id]="i"  formControlName="reference" name ="reference"
                                  aria-describedby="button-addon2" />
                                <button class="btn btn-outline-danger" type="button"  mdbRipple rippleColor="danger" (click)="deletereference(i)">Delete
                                </button>
                              </div>
                        </div>
                 </div>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-danger" style="margin-right: 5px;" (click)="closeModifyDialogOpenDialog()">Return</button>
                  <button class="btn btn-warning" (click)="submitNewForm()" style="margin-right: 5px;" type="submit">Submit</button>
                  <button class="btn btn-primary"(click)="addControl()" >Add Reference</button>
                </div><br>
              </form>
              </mat-dialog-content>
            </div>
          </div>
        </form>
      </ng-container>
  </div>
</div>
